<%console.log("views/user/show.ejs is running...");%>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/usershow.css">
    <title>User Detials</title>
</head>
<body>
    <h1 class="title"><%=user.displayName%>'s Account</h1>
    <nav>
        <div>
            <ul class='navbar'>
                <li class='navbarli'><a class='navbarlia' href="/">Home</a></li>
                <li class='navbarli'><a class='navbarlia' href="/slaves/new">Gladiator Market</a></li>
                <li class='navbarli'><a class='navbarlia' href="/tourneys">Colosseum</a></li>
                <li id='logout'><a class='navbarlia' href="auth/logout">Logout</a></li>
            </ul>
        </div>
    </nav>


    <div class='mainbody'>

        <main class="slavelist">
            <section><h2>Owned Gladiators</h2></section>
            <ul>
                <% for (let i = 0; i < user.slaves.length; i++) { %>
                    <li class="gladli"><a href="/slaves/<%=user.slaves[i].id%>"><%=user.slaves[i].name%></a></li>
                <% } %>
            </ul>
        </main>

<!--         <div class="editbutton">
            <a class="edit" href="/users/<%=user.id%>/edit">Edit Profile</a>
        </div> -->

        <a class="edit" href="/users/<%=user.id%>/edit">
            <div class="editbutton">
                <img class="editpic" src="https://cdn2.iconfinder.com/data/icons/theatre-cartoon/512/a1849-512.png">
                <h1 class="editlabel">Edit</h1>
            </div>
        </a>

    </div>







</body>
</html>