<%console.log("tourney/index.ejs is running...");%>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="css/tourneyindex.css">
	<title>Tourney Index</title>
</head>
<body>

	<header>
		<nav>
			<div>
				<ul class='navbar'>
			  		<li><a href="/">Home</a></li>
			  		<li><a href="/users/<%=user.id%>"><%=user.displayName%></a></li>
			  		<li><a class='logout' href="auth/logout">Logout</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main>
	<h1>Active Tournaments</h1>
	<h3><a href="/tourneys/<%=tourneys[0].id%>">The Bronze Cup</a></h3>
    <ul class="round round-1">
        <li class="spacer">&nbsp;</li>
        <li class="game game-top winner"><%=tourneys[0].fighters[0].name%><span>79</span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom "><%=tourneys[0].fighters[1].name%><span>48</span></li>
        <li class="spacer">&nbsp;</li>  
    </ul>
    <ul class="round round-2">
        <li class="spacer">&nbsp;</li>
        <li class="game game-top winner">Lousville <span>82</span></li>
    </ul>
	</main>

</body>
</html>