<%console.log("tourney/index.ejs is running...");%>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="css/tourneyindex.css">
    <title>Tourney Index</title>
</head>
<body>
    <h1 class='title'>Colosseum</h1>

    <nav>
        <div>
            <ul class='navbar'>
                <li class='navbarli'><a class='navbarlia' href="/">Home</a></li>
                <li class='navbarli'><a class='navbarlia' href="/slaves/new">Gladiator Market</a></li>
                <li class='navbarli'><a class='navbarlia' href="/users/<%=user.id%>"><%=user.displayName%></a></li>
                <li id='logout'><a class='navbarlia' href="auth/logout">Logout</a></li>
            </ul>
        </div>
    </nav>


    <div class='mainbody'>

        <h2 class="listtitle">Active Tournaments</h2>

    <h3><a href="/tourneys/<%=tourneys[0].id%>">The Bronze Cup</a></h3>

        <main id="bronze-cup">
            <ul class="round round-1">
                <li class="spacer">&nbsp;</li>
                <li class="game game-top winner"><%=tourneys[0].fighters[0].name%></li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom "><%=tourneys[0].fighters[1].name%></li>
                <li class="spacer">&nbsp;</li>  
            </ul>
            
            <ul class="round round-2">
                <li class="spacer">&nbsp;</li>
                <li class="game game-top winner"><%=tourneys[0].roundWinners[0].name%></li>
                <li class="spacer">&nbsp;</li>
            </ul>
        </main>


        <h2 class="listtitle">Upcoming Tournaments</h2>


    <h3><a href="/tourneys/<%=tourneys[1].id%>">The Silver Cup</a></h3>

        <main id="silver-cup">
            <ul class="round round-1">
                <li class="spacer">&nbsp;</li>
                <li class="game game-top winner">Gladiator 1</li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Gladiator 2</li>
                <li class="spacer">&nbsp;</li>
                <li class="game game-top winner">Gladiator 3</li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Gladiator 4</li>
                <li class="spacer">&nbsp;</li>
            </ul>

            <ul class="round round-2">
                <li class="spacer">&nbsp;</li>       
                <li class="game game-top winner">Round-1 Winner 1</li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Round-1 Winner 2</li>
                <li class="spacer">&nbsp;</li>
            </ul>

            <ul class="round round-3">
                <li class="spacer">&nbsp;</li>      
                <li class="game game-top winner">Winner</li>
                <li class="spacer">&nbsp;</li>
            </ul>
        </main>


    <h3><a href="/tourneys/<%=tourneys[2].id%>">The Gold Cup</a></h3>


        <main id="gold-cup">
            <ul class="round round-1">
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top winner">Gladiator 1</li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Gladiator 2</li>

                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top winner">Gladiator 3</li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Gladiator 4</li>

                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top ">Gladiator 5</li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom winner">Gladiator 6</li>

                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top winner">Gladiator 7</li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Gladiator 8</li>

                <li class="spacer">&nbsp;</li>
            </ul>
            <ul class="round round-2">
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top winner">Round-1 Winner 1</li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Round-1 Winner 2</li>

                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top winner">Round-1 Winner 3</li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Round-1 Winner 4</li>

                <li class="spacer">&nbsp;</li>
            </ul>
            <ul class="round round-3">
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top winner">Round-2 Winner 1</li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Round-2 Winner 2</li>

                <li class="spacer">&nbsp;</li>
            </ul>
            <ul class="round round-4">
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top winner">Winner</li>
                <li class="spacer">&nbsp;</li>
            </ul>       
        </main>



    </div>

</body>
</html>