<%console.log("views/slave/show.ejs is running...");%>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Gladiator Details</title>
</head>
<body>

	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/users">Active Users</a></li>
				<li><a href="/slaves">Active Gladiators</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section>
			<h2><a href="/users/<%=user%>"><%=displayName%>'s</a> Gladiators</h2>
			<ul>
				<li><%=slave.name%></li>
				<a href="/slaves/<%=slave.id%>/edit">Change Name</a>
				<form action="/slaves/<%=slave.id%>?_method=DELETE" method="POST">
					<button type="submit">Retire Gladiator</button>
				</form>
			</ul>
		</section>
	</main>

</body>
</html>